$font-stack:
  'Inter UI',
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  'Roboto',
  // Basic web fallback
  'Helvetica Neue', Arial, sans-serif,
  // Emoji fonts
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$text-colour: #212121;
$muted-colour: tint($text-colour, 40%);
$light-colour: tint($text-colour, 90%);
$background-colour: #fafafa;

$max-width: 50rem;