h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
iframe,
hr,
button,
table,
fieldset,
figure,
pre,
video {
  margin-top: 0;
  margin-bottom: 1rem;
}

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

[hidden] {
  display: none;
}