:root {
  --background: #fafafa;
  --text: #212121;
  --brand: #fbe26d;
  --code-text: #212121;
  --code-background: #f5f2f0;

  @media (prefers-color-scheme: dark) {
    --background: #212121;
    --text: #fafafa;
  }
}

html {
  font-size: 1em;
}

body {
  font-size: 1rem;
  font-family: $font-stack;
  line-height: 1.65;
  letter-spacing: -0.002em;
  color: var(--text);
  background-color: var(--background);
  font-variant-alternates: styleset("ss01");
  font-variant-ligatures: contextual;
  font-feature-settings: 'ss01', 'calt' 1;
  -webkit-font-smoothing: antialiased;
}

.c-social {
  margin: 1rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;

  li {
    display: block;
    padding: 0 0.5rem;

    svg {
      height: 2rem;
      
      path {
        fill: var(--text);
      }
    }
  }

  a {
    border-bottom: 0;
  }
}

.c-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  padding: 1rem;
  width: 100%;
}