a {
  color: var(--text);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: var(--brand);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: text-decoration-thickness $transition-default;
  
  &:hover {
    color: var(--muted-colour);
    text-decoration-thickness: 3px;

    [data-dark-mode="true"] & {
      color: var(--brand);
    }
  }

  &:focus {
    outline: 2px solid var(--brand);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.25;

  a {
    font-weight: 700;
  }

  p + &,
  pre + & {
    margin-top: 30px;
  }

  & + p {
    margin-top: -12px;
  }
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 600;
}

p,
li {
  font-size: rem(18);

  @media (min-width: 50em) {
      font-size: rem(20);
    }
}

p {
  code {
    padding: 2px 4px;
    background-color: var(--code-background);
    text-shadow: 0 1px #fff;
    font-size: 15px;
    color: var(--code-text);
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 4px;
  }
}

.lead {
  font-size: rem(22);
  font-weight: 500;

  code {
    font-size: 20px;
  }
}

b, strong {
  font-weight: 600;
}

.text-muted {
  color: var(--muted-colour);
}

.text-uppercase {
  text-transform: uppercase;
}

blockquote {
  max-width: 30rem;
  margin: 0 auto;
  padding-left: 1rem;
  border-left: 4px solid var(--brand);

  p {
    font-style: italic;

    @media (min-width: 50em) {
      font-size: 22px;
    }
  }

  footer {
    color: $muted-colour;
  }
}

pre {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}