a {
  color: $text-colour;
  border-bottom: 2px solid $brand-colour;
  text-decoration: none;
  transition: border-bottom-width $transition-default;

  &:hover,
  &:focus {
    border-bottom-width: 4px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 600;
}

p,
li {
  font-size: rem(17);
}

.lead {
  font-size: rem(21);
  font-weight: 500;
}

b, strong {
  font-weight: 600;
}

.date {
  margin-top: -1rem;
  font-size: rem(14);
  font-weight: 600;
}

.text-muted {
  color: $muted-colour;
}

.text-uppercase {
  text-transform: uppercase;
}

blockquote {
  max-width: 30rem;
  margin: 0 auto;
  padding-left: 1rem;
  border-left: 4px solid $brand-colour;

  p {
    font-style: italic;

    @media (min-width: 50em) {
      font-size: 22px;
    }
  }

  footer {
    color: $muted-colour;
  }
}
