a {
  color: var(--text);
  border-bottom: 2px solid var(--brand);
  text-decoration: none;
  transition: border-bottom-width $transition-default;

  &:hover {
    border-bottom-width: 4px;
  }

  &:focus {
    outline: 2px solid var(--brand);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 600;
}

p,
li {
  font-size: rem(18);
}

p {
  code {
    padding: 2px 4px;
    background-color: #f5f2f0;
    text-shadow: 0 1px #fff;
    font-size: 15px;
    color: var(--background);
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 4px;
  }
}

.lead {
  font-size: rem(22);
  font-weight: 500;
}

b, strong {
  font-weight: 600;
}

.date {
  margin-top: -.75rem;
  font-size: rem(14);
  font-weight: 600;
}

.text-muted {
  color: $muted-colour;
}

.text-uppercase {
  text-transform: uppercase;
}

blockquote {
  max-width: 30rem;
  margin: 0 auto;
  padding-left: 1rem;
  border-left: 4px solid var(--brand);

  p {
    font-style: italic;

    @media (min-width: 50em) {
      font-size: 22px;
    }
  }

  footer {
    color: $muted-colour;
  }
}